body {
  height: 100vh;
  font-family: Inter, sans-serif;
  background-color: hsl(0, 0%, 8%);
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 12%);
  padding: 40px;
  border-radius: 12px;
  margin: auto;
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 24px;
}

.name {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  margin-bottom: 10px;
}

.location {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 600;
}

.bio {
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

button {
  background-color: hsl(0, 0%, 20%);
  border: none;
  padding: 16px;
  border-radius: 8px;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px) {
  body {
    margin-top: 80px;
  }

  main {
    width: 70%;
    margin-bottom: 40px;
  }
}